---
component: rb_button
description: Alice was beginning to get very tired of sitting by her sister on the bank.
jira: testing-50
---

{{#if link }}
    <a class="rb-button {{type}} {{#if disabled}}is-disabled{{/if}}" href="{{ link }}" {{#if disabled}}aria-disabled="true" tabindex="-1"{{/if}}>{{ title }}</a>
{{else }}
    <button class="rb-button {{type}} {{#if disabled}}is-disabled{{/if}}"
            {{#isnt submit true}}
                type="button"
            {{/isnt}}
            {{#if disabled}}
                disabled="disabled"
            {{/if}}>
            {{ title }}
    </button>
{{/if}}
