<header class="doc_intro">
    <h1 class="doc_intro_title">{{ component }}</h1>
    {{#if description }}
        <p class="doc_intro_hook">{{ description }}</p>
    {{/if}}
</header>

{{#with $componentName.default }}
    {{> $componentName }}
{{/with}}

<pre class="doc_code hljs"><code>{{{getTemplateCode 'source/components/$componentName/$componentName.hbs'}}}</code></pre>
<pre class="doc_code hljs"><code>{{{getTemplateCode 'source/components/$componentName/_$componentName.scss'}}}</code></pre>
{{!-- <pre class="doc_code hljs"><code>{{{getTemplateCode 'source/components/$componentName/$componentName.js'}}}</code></pre> --}}
